@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-white;
  }
  body {
    @apply bg-zinc-800;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
}

@layer utilities {
  .logo-text {
    font-family: "Dancing Script", cursive;
  }
  .text-light {
    @apply text-sm opacity-50;
  }
  .text-link {
    @apply text-blue-400;
  }

  .active-tab {
    @apply opacity-100  !border-b-2;
  }
}
/* text-gradient-to-r from-[#833ab4] via-[#fd1d1d] to-[#fcb045] */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 51;
}
