@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-white;
  }
  body {
    @apply bg-zinc-800;
  }
  h1 {
    @apply text-5xl tracking-wide;
  }
  h2 {
    @apply text-2xl font-semibold tracking-wide md:text-3xl;
  }
  h3 {
    @apply flex items-center justify-center mb-4 text-xl font-semibold md:text-2xl md:mb-6 gap-x-2.5 tracking-wide;
  }
  h4 {
    @apply text-[1.1rem] md:text-lg;
  }
  p {
    @apply text-sm md:text-[1rem];
  }
}

@layer utilities {
  .logo-text {
    font-family: "Dancing Script", cursive;
  }
  .text-light {
    @apply text-sm opacity-50;
  }
  .text-link {
    @apply text-blue-400;
  }
  .nav-link {
    @apply flex items-center py-2 hover:bg-zinc-700 px-1.5 md:text-[1.2rem] transition-all duration-300 ease-in-out   gap-x-2 opacity-50 hover:opacity-100 rounded;
  }
}

input[type="file"] {
  visibility: hidden;
  height: 0px;
  padding: 0;
  opacity: 0;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

aside::-webkit-scrollbar,
.content::-webkit-scrollbar {
  display: none;
}
.content::-webkit-scrollbar,
.results::-webkit-scrollbar,
.notifications::-webkit-scrollbar,
.list::-webkit-scrollbar {
  display: none;
}
.content,
.results,
.notifications,
.list {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
