@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-white;
  }
  body {
    @apply bg-zinc-800;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-2xl md:text-3xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-[.9rem] md:text-[1.1rem];
  }
}

@layer utilities {
  .logo-text {
    font-family: "Dancing Script", cursive;
  }
  .text-light {
    @apply text-sm opacity-50;
  }
  .text-link {
    @apply text-blue-400;
  }

  .active-tab {
    @apply opacity-100  !border-b-2;
  }
}

input[type="file"] {
  visibility: hidden;
  height: 0px;
  padding: 0;
  opacity: 0;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

aside::-webkit-scrollbar,
.content::-webkit-scrollbar {
  display: none;
}
.content::-webkit-scrollbar,
.reels::-webkit-scrollbar,
.results::-webkit-scrollbar,
.notifications::-webkit-scrollbar,
.list::-webkit-scrollbar {
  display: none;
}
.content,
.reels,
.results,
.notifications,
.list {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
